:root {
  --light: whitesmoke;
  --dark: #81899b;
}

body{
		margin: 0;
/*  	background: linear-gradient(to bottom, darkcyan 5%, whitesmoke 6%);*/
  	height:170vh;
  	text-align:center;
 
}
.theme-switches {
  display: flex;
  justify-content: center;
}

.switch {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#switch-1 {
  background: var(--light);
}
#switch-2 {
  background: var(--dark);
}



.container{
	width: 98%;
	height: 0.1%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
#NoSchool{
	color:white;
	width: 10%;
	display:flex;
	justify-content: flex-end;
	align-items: flex-start;
}
#mainText{
	color:DarkSlateGray;
	width: 95%;
	display: block;
	margin:15px; 
	padding:22px;



}

.row {
  width: 400px;
  height: 30px;
  
  display: flex;
  align-items: baseline;
  padding: 40px;
}

.block-1 {
  font-size: 20px;
  border:2px solid #555;
  border-radius:5px;
  height: 50px;
  width: 50px;
  text-align:center;
  margin:20px; 
  padding:10px;
  color:white;
}

.block-2 .text {

 	color:DarkSlateGray;
 	display: block;
	font-size: 26px;
}
#img1{
	width: 230px;
	height: 250px;
	padding-right: 200px;
	padding-top: 0px;
	display: flex;

}
#author{
	color:DarkSlateGray;
	display: flex;
	font-size: 26px;
	padding-left: 35%;
	padding-top: 50px;
	vertical-align: middle;
}
#faq{
	color:DarkSlateGray;
	padding-left: 50px;
	display: flex;

	font-size: 24px;

}
#faq2{
	color:DarkSlateGray;
	padding-left: 50px;
	display: flex;
	padding-top: 60px;
	font-size: 24px;

}
#warning{
	width: 98%;
	height: 0.1%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;

}


